* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.name {
    font-size: 1.5em;
    margin: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0px 10px;
}

p+img {
    width: 70px;
    animation-name: animate;
}

.btn {
    padding: 8px 11px;
    position: fixed;
    right: 10px;
    border-radius: 50%;
    bottom: 10px;
    transform: rotate(-90deg);
    background-color: black;
    color: white;
}

.btn.inner {
    display: none;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.skills-icon {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header {
    padding: 10px;
    box-shadow: 0px 1px 8px black;
}

li>a {
    text-decoration: none;
    color: rgb(41, 34, 34);
    font-weight: bolder;
}

.nav>li {
    list-style: none;
    gap: 10px;
}

.section-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.icon {
    font-size: 1.5em;
    color: black;
}

.icons-fa {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.section-home {
    margin-bottom: 30px;
}

.html-img+p,
.css-img+p,
.javascript-img+p,
.react-img+p {
    font-size: 4em;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.smiling-img {
    filter: hue-rotate(-10px);
}

.img-text {
    font-size: 1.4em;
    font-weight: 200;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-skill {
    margin-top: 20px;
    padding: 10px;
    /* box-shadow: 3px 4px; */
    background-color: rgb(247, 247, 247);
}



.h1-name {
    font-size: 4em;
}

body {
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 1.9em;
}

.about-h1+p,
.about-h1 {
    margin: 10px;
}

.h1-p {
    font-size: 1.5em;
}

.hamburger {
    display: none;
}

.react-image {
    animation-name: animatereact;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes animatereact {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.react-image.inner {
    opacity: 0;
}



@media (max-width: 800px) {
    .nav {
        transform: translateX(-1900px);
        position: fixed;
        top: 0;
        opacity: 0;
        transition: 300ms;
    }

    .nav-nav {
        opacity: 0;
    }

    .smiling-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: -60px;
        display: flex;
        justify-self: center;
        z-index: 99999;
    }

    .h1ofp {
        font-size: 3.5em;
    }

    .ps {
        display: flex;
        flex-direction: column;
        color: rgb(88, 87, 87);
    }

    .h1andp {
        width: 80%;
        padding: 40px;
        margin: 10px;
        height: 100%;
        text-align: center;
        position: relative;
        background-color: white;
        border-radius: 10px;
    }

    .container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        animation-name: animatename;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .container.inner {
        display: none;
    }


    .name.inner {
        opacity: 0;
    }

    .samm {
        display: block;
        font-size: 1.5em;
        text-decoration: overline;
    }

    .nav.inner {
        opacity: 1;
        transition: 500ms;
        position: fixed;
        left: 0;
        height: 100vh;
        width: 70%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 80px;
        margin: 0px;
        transform: translateX(0px);
    }

    .nav-nav.inner {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skillset {
        padding: 5px;
    }


    .section-services {
        background-image: url("services-bg.png");
        color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    .section-services-h1 {
        text-align: center;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: double;
        font-size: 1.2em;
    }

    h1+span {
        width: 20%;
        height: 1px;
        margin-top: 10px;
        background-color: black;
    }

    span>h3 {
        text-align: center;
        margin: 10px;
        font-size: 1.3em;
    }

    p+a {
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .certificate {
        padding: 10px;
        background-color: black;
        border-radius: 5px;
    }

    h3+p {
        margin-bottom: 15px;
    }


    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body.inner {
        display: block;
    }

    li>a {
        color: black;
        font-size: 1.5em;
    }

    body.inner {
        background-color: black;
        scroll-behavior: smooth;
    }

    .navbar.inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* header.inner {
        box-shadow: none;
        animation-name: animate;
        animation-duration: 2s;
    }

    @keyframes animate {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    } */

    .hamburger {
        display: block;
        width: 35px;
        cursor: pointer;
        margin: 5px;
        transition: 300ms;
        position: fixed;
        border-radius: 50%;
        background-color: black;
        padding: 6px;
        right: 0;
        top: 10px;
    }

    .hamburger.inner {
        display: block;
        width: 35px;
        cursor: pointer;
        margin: 5px;
        transition: 300ms;
        position: fixed;
        right: 0;
        top: 10px;
        /* margin: 10px; */
    }

    .span1,
    .span3 {
        background-color: white;
        width: 100%;
        height: 3px;
        margin: 3px auto;
        border-radius: 10px;
        display: block;
        transition: 300ms;
    }

    .span2 {
        background-color: white;
        width: 15px;
        height: 3px;
        position: relative;
        left: 0;
        right: 0;
        border-radius: 10px;
        display: block;
        transition: 300ms;
    }

    .span1.inner {
        background-color: white;
        transform: rotate(45deg) translate(3px, 4px);
    }

    .span2.inner {
        opacity: 0;
    }

    .span3.inner {
        background-color: white;
        transform: rotate(-45deg) translate(4px, -5px);
    }

    .car-img {
        width: 100%;
        height: 200px;
    }

    /* .slider {
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } */
}